/* MyPortfolioBNew - Jordan Timianis - 301352262 - September 20th */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:0 1rem;
}


.projectTitle{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.projectPara {
    font-weight: 300;
    font-size: 2rem;
    width: 800px;
    padding-bottom: 25px;
}

.projectTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.projectTitle1 {
    padding: 1rem;
    margin-right: 0px;
}

.projectTitle2 {
    padding: 1rem;
    margin-right: 100px;
}

.projectTitle3 {
    padding: 1rem;
    margin-right: 115px;
}

.projectContent {
    display: flex;
    gap: 200px;
    margin-top: -200px;
}

.projectDesc {
    font-weight: 300;
    font-size: 2rem;
}

 .projectImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -100px;
    height: 500px;
    width: 300px;
}

.projectImg{
    object-fit: cover;
    height: 20rem;
    margin: 8.5rem;
    border-radius: 2rem;
    border: 5px gainsboro solid;
    margin-top: -50px;
}

@media screen and (max-width:585px){
    .worksImg{
    height: 50vw;
    }
}